@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60.83vw;
}

.container {
    width: 60.83vw;
    margin-top: 30px;
}

.second-container {
    width: 60.83vw;

}

.list {
    list-style: none;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
}

.line {
    display: inline-block;
    height: 4px;
    width: 60px;
    background-color: #F38181;
    margin-bottom: 65px;
}

.second-line {
    display: inline-block;
    height: 4px;
    width: 60px;
    background-color: #F38181;
    margin-bottom: 45px;
}

.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-block_title {
    margin-bottom: 20px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
}

.benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.benefit {
    display: flex;
    width: 28.33%;
    margin-bottom: 100px;
}

.img-block {
    display: flex;
    height: 100%;
    /* width: 11.17%; */
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 19px;
}

.link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #95E1D3;
}

.link::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    background-color: #F38181;
    transition: all 0.1s;
}

.link:hover {
    color: #F38181;
    transition: all 0.1s;
}

.link:hover::after {
    transform: scaleX(1);
}

.logo {
    color: #95E1D3;
    font-family: 'Montserrat', bold;
}

.text {
    color: #B6B6B6;
    margin-top: 20px;
    font-family: 'Roboto';
    font-weight: 400;
}

.info-block_title-second {
    margin-bottom: 40px;
    font-family: 'Montserrat', bold;
    text-transform: uppercase;
}

.text-about {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 39.16%;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.team {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.person {
    position: relative;
    width: 30.95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.man {
    width: 100%;
    min-height: 380px;
    background-size: cover;
    background-position: center;
}

.name {
    padding-top: 30px;
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 17px;
    font-size: 14px;
    color: #333333;
}

.job {
    padding-top: 11px;
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 18px;
    font-style: italic;
    font-size: 15px;
    color: #B6B6B6;
    padding-bottom: 80px;
}

.first-man .man {
    background-image: url(../img/man1.png);
}

.second-man .man {
    background-image: url(../img/man2.png);
}

.third-man .man {
    background-image: url(../img/man3.png);
}

.gradient {
    display: none;
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    min-height: 380px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(239, 139, 138, 0.8) 0%, rgba(229, 207, 130, 0.8) 100%);
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-item {
    width: 57px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCE38A;
    margin-right: 1px;
}

.social-item:hover {
    background-color: #95E1D3;
}

.first-man:hover .gradient {
    display: flex;
}

.second-man:hover .gradient {
    display: flex;
}

.third-man:hover .gradient {
    display: flex;
}

.footer-line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #B6B6B6;
}

.footer-text_red {
    color: #F38181;
    margin-left: 5px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 9px;
}

.footer-form input {
    height: 38px;
    padding-left: 10px;
    border: 1px solid #B6B6B6;
}

.footer-form input::placeholder {
    color: #B6B6B6;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.footer-form button {
    background: #95E1D3;
    width: 150px;
    height: 40px;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
}

.creator {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
}

.about-team {
    display: flex;
    text-align: center;
    color: #B6B6B6;
    font-family: 'Roboto';
    font-weight: 400;
}

.subscribe {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;   
}