@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60.83vw;
}

.container {
    width: 60.83vw;
    margin-top: 30px;
}

.list {
    list-style: none;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
}

.line {
    display: inline-block;
    height: 4px;
    width: 60px;
    background-color: #F38181;
    margin-bottom: 65px;
}

.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-block_title {
    margin-bottom: 20px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
}

.benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.benefit {
    display: flex;
    width: 28.33%;
    margin-bottom: 100px;
}

.img-block {
    display: flex;
    height: 100%;
    /* width: 11.17%; */
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 19px;
}

.link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #95E1D3;
}

.link::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    background-color: #F38181;
    transition: all 0.1s;
}

.link:hover {
    color: #F38181;
    transition: all 0.1s;
}

.link:hover::after {
    transform: scaleX(1);
}

.logo {
    color: #95E1D3;
    font-family: 'Montserrat', bold;
}

.text {
    color: #B6B6B6;
    margin-top: 20px;
    font-family: 'Roboto';
    font-weight: 400;
}

.info-block_title-second {
    margin-bottom: 40px;
    font-family: 'Montserrat', bold;
    text-transform: uppercase;
}

.text-about {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 39.16%;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}